<!doctype html>
<html>

<head>
  <meta charset="UTF-8" />
  <title>Transactions</title>
  <%- include('../styles/reportStyle.ejs'); %>
  <link rel="preconnect" href="https://fonts.googleapis.com" />
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
  <link href="https://fonts.googleapis.com/css2?family=Sarabun:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800&display=swap" rel="stylesheet" />
</head>

<body id="tbody">
  <table style="width: 100%; text-align: center; margin-bottom: 10px;">
    <thead>
      <tr>
        <th style="align-items: center; font-size: 16px; font-weight: 400"><%= headerReport %></th>
      </tr>
    </thead>
  </table>

  <table class="table">
    <thead>
      <tr>
        <th style="width: 2%;">#</th>
        <th style="width: 2%; "></th>
        <th style="width: 2%;"></th>
        <th style="width: 7%;">ชื่อ - สกุล</th>
        <th style="width: 2%;"><%= dateUnitNew %></th>
        <th style="width: 2%;"><%= dateUnitOld %></th>
        <th style="width: 4%;">ราคา/หน่วย</th>
        <th style="width: 3%;">ค้าง</th>
        <th style="width: 3%;">รวม</th>
        <th style="width: 3%;">ชำระ</th>
        <th style="width: 3%;">คงเหลือ</th>
        <th style="width: 3%;">ผู้รับ</th>
        <th style="width: 4%;">วันที่รับ</th>
        <th style="width: 2%;">หมายเหตุ</th>
      </tr>
    </thead>

    <tbody>
      <% transactions.map((transaction, index) => { %>
        <%
          // const fullName = `${customer?.firstName} ${customer?.lastName}`
          const pay = transaction?.pay ? transaction?.pay : ''
          const remain = transaction?.remain == 0 || !transaction?.remain ? '' : transaction?.remain
          %>
          <tr>
          <td><%= transaction?.no %></td>
          <td style="font-size: 8px;"><%= transaction?.houseNumber %></td>
          <td><%= transaction?.type %></td>
          <td style="text-align: start;"><%= transaction?.fullName %></td>
          <td><%= transaction?.unitNew?.unitNumber %></td>
          <td><%= transaction?.unitOld?.unitNumber %></td>
          <td><%= transaction?.amount %></td>
          <td><%= transaction?.overDue %></td>
          <td><%= transaction?.total %></td>
          <td><%= pay%></td>
          <td><%= remain %></td>
          <td style="text-align: start;"><%= transaction?.approved?.firstName %></td>
          <td style="text-align: start;"><%= transaction?.approvedAt %></td>
          <td style="text-align: start;"></td>


      </tr>
        <% }) %>
    </tbody>
  </table>
</body>

</html>
